<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Website" dependencies="Foundation.*,Feature.*" extends="Helix.Project" description="Items completely controlled by deployment">
          <predicate>
            <include name="ContentRoot" database="master" path="/sitecore/content" />
            <include name="MediaRoot" database="master" path="/sitecore/media library/Project/Website" />
          </predicate>
        </configuration>
      </configurations>

      <authenticationProvider>
        <SharedSecret>$(env:SITECORE_SETTINGS_UNICORN_SHARED_SECRET)</SharedSecret>
        <WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
      </authenticationProvider>
    </unicorn>
  </sitecore>
</configuration>