<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="Foundation.UpdateAdminCredentials.UpdateAdminCredentialsPipeline, Foundation">
          <SitecoreAdminPassword>$(env:SITECORE_ADMIN_PASSWORD)</SitecoreAdminPassword>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
