<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <unicorn>
      <configurations>
        <!-- Base configuration for all modules -->
        <configuration name="Helix.Base" abstract="true">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
          <targetDataStore physicalRootPath="C:\serialization\$(layer)\$(module)" useDataCache="false" singleInstance="true" />
        </configuration>

        <!-- Foundation modules -->
        <configuration name="Helix.Foundation" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
          </predicate>
        </configuration>

        <!-- Feature modules -->
        <configuration name="Helix.Feature" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
          </predicate>
        </configuration>

        <!-- Project modules -->
        <configuration name="Helix.Project" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Layouts" database="master" path="/sitecore/layout/layouts/$(layer)/$(module)" />
            <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
            <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)" />
          </predicate>
        </configuration>

        <!-- Include the Feature/Foundation/Project folders where Sitecore not have those -->
        <configuration name="Foundation.RootItems" extends="Helix.Base">
          <predicate>
            <!-- Media -->
            <include name="Media.Foundation" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true" />
            </include>
            <include name="Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>

            <!-- Settings -->
            <include name="Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Settings.Project" database="master" path="/sitecore/system/Settings/Project">
              <exclude children="true" />
            </include>

            <!-- Scheduled Tasks -->
            <include name="ScheduledTask.Commands.Foundation" database="master" path="/sitecore/system/Tasks/Commands/Foundation">
              <exclude children="true" />
            </include>
            <include name="ScheduledTask.Commands.Feature" database="master" path="/sitecore/system/Tasks/Commands/Feature">
              <exclude children="true" />
            </include>
            <include name="ScheduledTask.Commands.Project" database="master" path="/sitecore/system/Tasks/Commands/Project">
              <exclude children="true" />
            </include>
            <include name="ScheduledTask.Schedules.Foundation" database="master" path="/sitecore/system/Tasks/Schedules/Foundation">
              <exclude children="true" />
            </include>
            <include name="ScheduledTask.Schedules.Feature" database="master" path="/sitecore/system/Tasks/Schedules/Feature">
              <exclude children="true" />
            </include>
            <include name="ScheduledTask.Schedules.Project" database="master" path="/sitecore/system/Tasks/Schedules/Project">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>